
#sales_logo {
background: url('/images/sales_logo.png') no-repeat;
width: 505px;
height: 161px;
margin: 0 auto;
}
.enlightened {
position: relative;
top: 106px;
left: 122px;
}

.person {
width: 263px;
height: 283px;
border-radius: 8px;
background-clip: padding-box;
background-color: #25292d;
box-shadow: 1px 5px 5px rgba(23,23,23,.75);
position: relative;
left: 200px;
top: 30px;
}
.business {
width: 263px;
height: 283px;
border-radius: 8px;
background-clip: padding-box;
background-color: #fff;
box-shadow: 1px 5px 5px rgba(23,23,23,.75);
right: 200px; 
top: 30px;
position: relative;

}
.business:hover {
-webkit-animation-name: glowz;
-webkit-animation-duration: .85s;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-delay: 0;
-webkit-animation-fill-mode: none;

-moz-animation-name: glowz;
-moz-animation-duration: .85s;
-moz-animation-timing-function: ease-in-out;
-moz-animation-iteration-count: infinite;
-mozkit-animation-direction: alternate;
-moz-animation-delay: 0;
-moz-animation-fill-mode: none;

animation-name: glowz;
animation-duration: .85s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-delay: 0;
animation-fill-mode: none;
}
.person a, .business a {
color: white;
text-decoration: none;
}
.product_collage {
background: url('../../images/sales_collage.png') no-repeat;
width: 169px;
height: 203px;	
margin: 0 auto;
}

.right_button {
width: 265px;
height: 34px;
background: url('../../images/button_sprite.png') 0 0 no-repeat;
margin-top: 22px;
margin-left: -1px;
padding-top: 30px;
}
.right_button:hover {
background: url('../../images/button_sprite.png') 0 -64px no-repeat;
}
.right_button h3,.right_button h4,.left_button h3,.left_button h4 {
text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
color: rgb(8, 60, 105);	
text-align: center;
line-height: 1;
}
.right_button h4, .left_button h4 {
font-size: 10pt;

}	
.right_button h3, .left_button h3 {
font-size: 22pt;
}
.right_button img, .left_button img{
margin-top: 13px;
margin-left: 20px;
}
.right_question {
margin-top: -41px;
font-family: 'PT Sans', sans-serif;;
}
.left_question {
margin-top: -38px;
font-family: 'PT Sans', sans-serif;;
}

.left_button {
width: 265px;
height: 64px;
background: url('../../images/button_sprite.png') 0 0 no-repeat;
margin-top: 48px;
}
.left_button:hover {
background: url('../../images/button_sprite.png') 0 -64px no-repeat;
}
.left_list {
text-align:center;	
float:left;
position: relative;
top: 88px;
left: 20px;
color: white; text-shadow: 1px 1px black;
}
.right_list {
text-align:center;
float:right;		
position: relative;
top: -83px;
right: 20px;
color: white;
text-shadow: 1px 1px black;
}
.yoga {
margin-top: 20px;
width: 141px;
height: 172px;
background: url('../../images/sales_yoga.png') no-repeat;	
position: relative;
margin: 0 auto;
top: 26px;
}
.sales_pitch {
position: relative;
top: 75px;
color: white;
text-shadow: 1px 1px black;
width: 750px;
text-align: center;
margin-left: 122px;
}
.dotted_line {

}






