<template name="installed_kegerators">

    <div class="kegerator-count-row">{{{installedKegerators.count}}} kegerator(s) installed: </div>

    <div class="installed-kegerators-container">
        {{#each installedKegerators}}
            <div class="installed-kegerator-intable">
                <div class="kegerator-row">Type: <span>{{typeName}}</span></div>
                <div class="kegerator-row">Requested at: <span>{{formattedRequestedAt}}</span></div>
                <div class="kegerator-row">Installed at: <span>{{formattedInstalledAt}}</span></div>
            </div>
        {{/each}}
    </div>


</template>