<template name="kegerators_to_install">

    <div class="kegerator-count-row">{{{kegeratorsToInstall.count}}} kegerator(s) waiting: </div>

    {{#each kegeratorsToInstall}}
    <div class="kegerator-to-install-intable">
        <div class="kegerator-row">Taps: <span>{{taps}}</span></div>
        <div class="kegerator-row">Requested at: <span>{{formattedRequestedAt}}</span></div>
        <div class="kegerator-row">
            <div class="installed-button customButton-blue">Installed</div>
        </div>
    </div>
    {{/each}}

</template>