.user-info-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    background-color: white;
    background-size: contain;
    background-position: center;
}

.user-name {
    cursor: pointer;
}
.user-name:hover {
    color: #0069aa !important;
}