table.items {
    background: white;
    font-size: 14px;
    width: 100%;
    cellspacing: 0;
    border: 1px solid #ffffff;
}

.items th,
.items td {
    padding: 3px 5px !important;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.items th:last-of-type,
.items td:last-of-type {
    border-right: 0;
}
.items tr:last-of-type th,
.items tr:last-of-type td{
    border-bottom: 0;
}

.items th {
    background: skyblue;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px DimGrey;
}

.items td {
    background: #dedede;
    min-height: 24px;
    vertical-align: middle;
}

.items .action-buttons {
    text-align: right;
}

.items .customButton {
    vertical-align: top !important;
}

.items .align-center {
    text-align: center;
}

/* ---------- Vertical Table ---------- */
table.styled-vertical-table {
    width: 100%;
    cellspacing: 0;
    border: 0;
}

table.styled-vertical-table tbody th {
    width: 30%;
    padding: 5px 10px;
    color: #0069aa;
    text-shadow: 1px 1px 1px white;
    text-align: right;
    border-bottom: 1px dashed #0069aa;
    border-right: 1px dashed #0069aa;
}
table.styled-vertical-table tbody td {
    padding: 5px 10px;
    color: DimGrey;
    text-shadow: 1px 1px 1px white;
    text-align: left;
    border-bottom: 1px dashed #0069aa;
 }
table.styled-vertical-table tbody .section-title td {
    position: relative;
    color: #0069aa;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    height: 30px;
}

/* ----------- FORM --------- */
.form-row label {
    display: inline-block;
    width: 90px;
}

.form-row input[type="text"],
.form-row textarea {
    display: inline-block;
    width: 290px;
    padding: 5px;

    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 7px 0px 10px 10px;
    border: 1px solid rgb(177, 175, 175);
    -webkit-box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    -2px 2px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         -2px 2px 6px rgba(50, 50, 50, 0.61);
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.form-row input:focus,
.form-row textarea:focus {
    border: 1px solid #72C4FC;
    box-shadow: 0 0 5px #72C4FC;
    -webkit-box-shadow: 0 0 5px #72C4FC;
    -moz-box-shadow: 0 0 5px #72C4FC;
}
.form-row textarea {
    resize: vertical;
}

.styled-select {
    display: inline-block;
    width: 300px;
    padding: 5px;
    background: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 7px 0px 10px 10px;
    border: 1px solid rgb(177, 175, 175);
    -webkit-box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    -2px 2px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         -2px 2px 6px rgba(50, 50, 50, 0.61);
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.styled-select:focus {
    border: 1px solid #72C4FC;
    box-shadow: 0 0 5px #72C4FC;
    -webkit-box-shadow: 0 0 5px #72C4FC;
    -moz-box-shadow: 0 0 5px #72C4FC;
}

.dialog-box {
    position: relative;
    margin: 20px auto;
    width: 420px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.61);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border:1px solid rgba(29, 69, 99, 0.29);


    -webkit-animation-name: glowz;
    -webkit-animation-duration: .85s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: none;

    -moz-animation-name: glowz;
    -moz-animation-duration: .85s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -mozkit-animation-direction: alternate;
    -moz-animation-delay: 0;
    -moz-animation-fill-mode: none;

    animation-name: glowz;
    animation-duration: .85s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0;
    animation-fill-mode: none;

    background: url('/images/diagonal-noise.png') repeat;
}

.dialog-box .form-row {
    border-top: 1px solid #c7c7c7;
}


.close-dialog-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: DimGrey;
    line-height: 26px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    cursor: pointer;
}

.close-dialog-btn:hover {
    color: red;
}

.open-dialog-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 10px 5px 10px;
    width: 157px;
    height: 51px;
    line-height: 49px;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 1px 1px blue;
    color: white;
    background: url('/images/lrnmre.png') no-repeat top;
    z-index: 99;
}
.open-dialog-btn:hover {
    background-position: bottom;
}

.customButton-blue {
    margin: 10px auto 0 auto;
    padding: 3px 10px 5px 10px;
    width: 157px;
    height: 51px;
    line-height: 49px;
    text-align: center;
    text-shadow: 1px 1px 1px blue;
    color: white;
    cursor: pointer;
    background: url('/images/lrnmre.png') no-repeat top;
    background-size: 100% 200%;
    z-index: 99;
}
.customButton-blue:hover {
    background-position: bottom;
}
