#flavors {
}

#addFlavorDialog {
    background: rgba(182, 183, 184, 1);
}

.flavor-list-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.flavor-list-kegIcon{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.flavor-btn {
	float:left;
	margin: 0 9px 0 0 !important;
    display: block;
    padding: 3px !important;
    width: 24px;
    height: 24px;
    line-height: 18px;
    font-size: 24px;
    text-shadow: 1px 1px 1px white;
    color: DimGrey;
}
.flavor-btn:last-child {
    margin-right: 0 !important;
}

.delete-flavor-btn {
    display: inline-block;
    padding: 3px !important;
    width: 24px;
    height: 24px;
    line-height: 18px;
    font-size: 24px;
    text-shadow: 1px 1px 1px white;
    color: DimGrey;
}
.delete-flavor-btn:hover {
    color: red;
}

.make-public-btn,
.edit-flavor-btn {
    display: block;
    font-size: 16px;
    width: 130px;
    margin:6px auto !important;
}
.flavor-editing-btns {
    display: block;
    font-size: 16px;
    width: 150px;
    height: 30px;
    margin:6px auto !important;
}