#flavors {
}

#addFlavorDialog {
    background: rgba(255,255,255,0.5);
}

.flavor-list-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.delete-flavor-btn {
    display: inline-block;
    padding: 3px !important;
    width: 24px;
    height: 24px;
    line-height: 18px;
    font-size: 24px;
    text-shadow: 1px 1px 1px white;
    color: DimGrey;
}
.delete-flavor-btn:hover {
    color: red;
}

.make-public-btn{
    display: inline-block;
}