#profile .profile_avatar_img{

}

#profile_content {
    position: relative;
    margin: 30px;
    padding: 10px 10px 10px 200px;
    border: 1px solid #0069aa;
}

#profile_content .profile_avatar_img{
    position: absolute;
    left: 30px;
    top: 30px;
    margin: 0;
}
#profile_content .profile_right {
    border-left: 1px solid #0069aa;
    min-height: 300px;
    padding-left: 10px;
}
#edit-profile-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    float: right;
    width: 90px;
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    font-size: 14px;
}

.profile-buttons td{
    text-align: left !important;
    height: 28px !important;
    line-height: 28px !important;
    padding: 0px 5px 10px 5px !important;
}
.profile-buttons .customButton-blue {
    display:inline-block;
    width: 90px;
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    font-size: 14px;
}

.profile-venue-charges-box{
    vertical-align: top;
    display:inline-block;
    width: 46%;
    border:1px solid #c7c7c7;
    padding: 5px 6px 5px 4px;
    margin: 5px;
    background: rgba(255,255,255,0.4);
}

.profile-venue-charges-box .keg-charges-table {
    width: 100%;
}

#billingInfoForm .form-row label {
    width: 150px;
}