#profile_content {
    margin: 10px;
    padding: 2px;
    border:1px solid #c7c7c7;
}

#profile_left,
#profile_right {
    display: inline-block;
    width: 46%;
    margin: 10px 1.5%;
    vertical-align: top;
}

.profile_avatar_img {
    margin: 15px auto;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.61);
}

