#profile .profile_avatar_img{

}

#profile_content {
    position: relative;
    margin: 30px;
    padding: 10px 10px 10px 200px;
    border: 1px solid #0069aa;
}

#profile_content .profile_avatar_img{
    position: absolute;
    left: 30px;
    top: 30px;
    margin: 0;
}
#profile_content .profile_right {
    border-left: 1px solid #0069aa;
    min-height: 300px;
    padding-left: 10px;
}
#edit-profile-btn{
    position: absolute;
    top: 0px;
    right: 5px;
    display: inline-block;
    float: right;
    width: 90px;
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    font-size: 14px;
}