#setKegs {
    width: 840px;
}


.keg-box {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 10px;
    padding: 12px 164px 12px 12px;
    height: 140px;
    border:1px solid #c7c7c7;
    background: rgba(255,255,255,0.5);
    border-radius: 8px;
    -webkit-box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    -2px 2px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         -2px 2px 6px rgba(50, 50, 50, 0.61);
}

.keg-illustration {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 140px;
    height: 140px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #d9d9d9;
    z-index: 50;
}
.keg-flavor-illustration {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 50;
}

.keg-settings label{
    width: inherit !important;
    text-align: left;
    margin-left: 10px;
}

.keg-settings select,
.keg-settings input {
    margin-left: 0 !important;
    max-width: 215px !important;
}
.keg-settings .form-row {
    border: 0 !important;
}

.keg-pcycle-left, .keg-pcycle-right {
    display: inline-block;
    width: 100px;
}
.keg-pcycle-right {
    margin-top: 5px;
    border-left: 1px solid #0069aa;
    padding-left:10px;
}
.keg-pcycle-left {
    padding-right:5px;
}

.remove-keg-btn {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    font-size: 26px;
    line-height: 19px;
    color: dimgray;
    text-shadow: 1px 1px 1px lightgrey;
    text-align: center;
    border-radius: 14px;
    border: 2px solid dimgrey;
    top: -10px;
    right: -10px;
    z-index: 51;
    cursor: pointer;
    box-shadow: 0px 1px 6px -1px rgba(50,50,50,0.61);
    -webkit-box-shadow: 0px 1px 6px -1px rgba(50,50,50,0.61);
    -moz-box-shadow: 0px 1px 6px -1px rgba(50,50,50,0.61);
}
.remove-keg-btn:hover{
    background: rgba(255, 0, 0, 0.6);
    color:white;
    text-shadow: 1px 1px 1px grey;
}
.keg-box:hover .remove-keg-btn{
    display: block;
}

.buttons-container {
    margin: 10px 0;
    text-align: center;
}
.buttons-container .customButton-blue {
    display: inline-block;
}

.keg-flavor-select {
    display: inline-block;
    width: 290px;
    padding: 5px;

    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 7px 0px 10px 10px;
    border: 1px solid rgb(177, 175, 175);
    -webkit-box-shadow: -2px 2px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    -2px 2px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         -2px 2px 6px rgba(50, 50, 50, 0.61);
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.tap-flavor-select:focus {
    border: 1px solid #72C4FC;
    box-shadow: 0 0 5px #72C4FC;
    -webkit-box-shadow: 0 0 5px #72C4FC;
    -moz-box-shadow: 0 0 5px #72C4FC;
}
