
#loggedIn-user-info {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    line-height: 36px;
    margin: 0 0 0 15px;
    padding: 0 0 0 10px;
    border-left: 1px dashed #0069aa;
}

#user-info-avatar {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-color: white;
    background-size: contain;
    background-position: center;
}

#user-info-name-email {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color:  lightskyblue !important;
    text-decoration: none;
    text-shadow: 1px 1px 8px Black;
}