#venues {
}

#addVenueDialog {
    background: rgba(255,255,255,0.5);
}

.styled-form .form-row{
    display: block;
    margin: 10px auto;
    padding: 10px 5px 0 5px;
}

/*
.delete-venue-btn {
    display: inline-block;
    padding: 3px !important;
    width: 24px;
    height: 24px;
    line-height: 20px;
    font-size: 24px;
    text-shadow: 1px 1px 1px white;
    color: DimGrey;
}
.delete-venue-btn:hover {
    color: red;
}*/
/*
.edit-venue-btn {
    padding: 3px 20px !important;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}*/

.customButton {
    margin: 3px auto;
    padding: 3px 10px !important;
    display: block;
    height: 24px;
    line-height: 24px;
}
.customButton-blue {
    margin: 0px auto;
    display: block;
}

.delivered-btn-container {
    display: block;
    height: auto;
}

.venue-delivered-row {
    padding:3px;
    position:relative;
    color: DimGrey;
    text-align:left;
    display: block;
    text-shadow: 1px 1px 1px white;
}

.venue-delivered-row div.info {
    display: block;
    text-align: center;
    color: #0069aa;
    text-shadow: 1px 1px 1px white;
}

.delivered-venue-btn {
    text-transform: uppercase;
}

.table-keg-div{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-bottom: 1px dashed #0069aa;
}
.table-keg-div:last-child{
    border: 0;
}
span.keg-fee{
    float: right;
}
.table-keg-flavor-div{
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}