#venues {
}

#addVenueDialog {
    background: rgba(255,255,255,0.5);
}

.styled-form .form-row{
    display: block;
    margin: 10px auto;
    padding: 10px 5px 0 5px;
}

.delete-venue-btn {
    display: inline-block;
    padding: 3px !important;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    text-shadow: 1px 1px 1px white;
    color: DimGrey;
}
.delete-venue-btn:hover {
    color: red;
}

.edit-venue-btn {
    padding: 3px 20px !important;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.table-kegerator-div{
    padding: 5px;
    margin: 5px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.61);
    box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.61);
}
.table-kegerator-flavor-div{
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}