<template name="_navBar">
    {{#if isInRole 'admin'}}
        <a class="navi-link admin-only" href="{{adminsPath}}">Admins</a>
        <a class="navi-link admin-only" href="{{clientsPath}}">Clients</a>
        <a class="navi-link admin-only" href="{{allVenuesPath}}">All Venues</a>
        <a class="navi-link admin-only" href="{{flavorsPath}}">Edit flavors</a>
    {{/if}}

    <a class="navi-link" href="{{homePath}}">Home</a>

    {{#if currentUser}}
        <a class="navi-link" href="{{venuesPath}}">My Venues</a>
    {{/if}}

</template>