<template name="_navBar">
    {{#if isInRole 'admin'}}
        <a class="navi-link admin-only" id="page_users_link" href="javascript: Router.go('/users/all');">Users</a>
        <a class="navi-link admin-only" id="page_oneOffs_link" href="javascript: Router.go('oneOffs');">ONE-OFFS ()</a>
        <a class="navi-link admin-only" id="page_allVenues_link" href="javascript: Router.go('allVenues');">All Venues</a>
        <a class="navi-link admin-only" id="page_flavors_link" href="javascript: Router.go('flavors');">Edit flavors</a>
    {{/if}}

    <a class="navi-link" id="page_home_link" href="javascript: Router.go('home');">Home</a>

    {{#if currentUser}}
        <a class="navi-link" id="page_myVenues_link" href="javascript: Router.go('myVenues');">Venues</a>
        <a class="navi-link" id="page_myProfile_link" href="javascript: Router.go('myProfile');">Profile</a>
    {{/if}}

</template>