<template name="page_billing_info">
    <div class="page-background" id="editProfile">
        <h1 class="page_title" style="margin-bottom:25px;">Update Billing Info</h1>

        <div id="edit_profile_content">
            <form id="billingInfoForm" class="styled-form" method="POST">
	
				<input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="9USO6XB3TGfux6OqXBs7D/tOg6zr7wtGqgVOUeV8jSg=">
				<input id="user_stripe_card_token" name="user[stripe_card_token]" type="hidden">
				<input id="user_update_credit_card" name="user[update_credit_card]" type="hidden" value="true">

                <div class="form-row">
                    <label for="user_card_number">Card Number:<span class="require">*</span></label>
                    <input type="text" id="user_card_number" name="name" value="4242424242424242"/>
                </div>

                <div class="form-row">
                    <label for="user_card_code">Card Code:<span class="require">*</span></label>
                    <input type="text" id="user_card_code" name="email" value="123"/>
                </div>


                <div class="form-row">
                    <label for="user_card_month">Expiration Month:<span class="require">*</span></label>
                    <select class="styled-select" id="user_card_month" name="cardExpMonth">
                        {{#each months}}
                            <option value="{{this}}" {{selected '1'}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-row">
                    <label for="user_card_year">Expiration Year:<span class="require">*</span></label>
                    <select class="styled-select" id="user_card_year" name="cardExpYear">
                        {{#each years}}
                            <option value="{{this}}" {{selected yearNow}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <br/>

                <div id="save-billing-info-btn" class="customButton-blue"> Save </div>

            </form>
        </div>

    </div>
</template>




