<template name="contact">
	<div id="contact_wrap">
		<div id="page-wrap">
			<p class="charles" style="color:#0069aa;font-size:34px;">Signup for More Info on Conscious Kombucha</p>
			<h2 class="contact_tag">Currently supplying Restaurants, Bars & Corporate Clients with our Kombucha Countertop System throughout California!</h2>
			<div id="address">
				<div class="big_map">
					
				</div>
				<div class="directions" style="width: 340px;">
					<h1>Zones of distribution</h1>
						<p>Santa Barbara, SLO, Los Angeles,</p>
						<p>San Francisco, & San Diego</p>
				</div>
			</div>
			<div id="contact-area">
				<form id="contact_form">
					<div class="field_input">
						<label for="Name">Name:</label>
						<input type="text" name="name" id="contact_name" />
					</div>
					<div class="field_input">	
						<label for="Email">Email:</label>
						<input type="text" name="email" id="contact_email" />
					</div>
					<div style="clear: both;"></div>
					<div class="field_input">
						<label for="City">City:</label>
						<input type="text" name="city" id="contact_city" />
					</div>
					<div class="field_input">	
						<label for="Bar">Bar/Restaurant:</label>
						<input type="text" name="venue" id="contact_bar" />
					</div>
					<div style="clear: both;"></div>
					<div class="area_input">
						<label for="Message">Message:</label><br />
						<textarea name="message" rows="7" cols="42" id="contact_message"></textarea>
					</div>
					<div style="clear: both;"></div>
						<input type="submit" name="submit" value="SIGN UP" class="submit-button" />
				</form>
			</div>
		</div>
	</div>
</template>