<template name="page_delivery">
    <div class="page-background" id="delivery">

        <h1 class="page_title" style="margin-bottom:25px;">Delivery</h1>

        <h2 class="subtitle" style="margin:10px auto;">Subscriptions for Monday</h1>

        {{>delivery_table mondayObject}}

        <h2 class="subtitle" style="margin:10px auto;">Subscriptions for Thursday</h1>

        {{>delivery_table thursdayObject}}

    </div>
</template>

<template name="delivery_table">
    <table class="items">
        <tbody>
        <tr>
            <th style="width: 15%;">Venue Name</th>
            <th style="width: 20%;">Address</th>
            <th style="">Kegs to deliver on Monday</th>
            <th style="width: 25%;">Actions</th>
        </tr>
        {{#unless venues }}
        <tr>
            <td colspan="4"> You have no venues added yet. </td>
        </tr>
        {{/unless}}

        {{#each venues}}
        <tr>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>
                <div class="kegs-to-deliver-container">
                {{#each kegsToDeliverByFlavor ../this}}
                    {{>delivery_kegs_flavor_row this}}
                {{/each}}

                {{#unless kegsToDeliverByFlavor ../this}}
                    {{>delivery_kegs_flavor_row_empty}}
                {{/unless}}
                </div>
            </td>
            <td class="action-buttons">
                <div class="delivered-btn-container">
                    {{#if canBeDelivered ../payment_day}}
                        <div class="delivered-venue-btn customButton-blue" data-pday="{{../../payment_day}}"> Delivered </div>
                    {{/if}}
                    <div class="venue-delivered-row">Last delivery: <div class="info">{{lastDeliveryDate ../payment_day}}</div></div>
                </div>
            </td>
        </tr>
        {{/each}}

        </tbody>
    </table>
</template>

<template name="delivery_kegs_flavor_row">
        <div class="delivery-kegs-flavor-row">
            <div class="delivery-kegs-flavor-icon" style="background-image:url('{{flavor_icon}}');"></div>
            <div class="delivery-kegs-flavor-name">{{flavor_name}}:</div>
            <span class="delivery-kegs-flavor-count">{{quantity}} keg(s)</span>
        </div>
</template>

<template name="delivery_kegs_flavor_row_empty">
    <div class="delivery-kegs-flavor-row">
        You have no kegs set for this venue.
    </div>
</template>