<template name="page_edit_profile">
    <div class="page-background" id="editProfile">
        <h1 class="page_title" style="margin-bottom:25px;">Edit Profile</h1>

        <div id="edit_profile_content">
            <form id="profileForm" class="styled-form" method="POST">
	
				{{#with model}}
					{{>user_form}}
				{{/with}}       

            </form>
        </div>


    </div>
</template>


<template name='user_form'>
	<div id="edit_profile_left">
        <div class="form-row">
            <label for="profile_name">Name:</label>
            <input type="text" id="profile_name" name="name" value="{{profile.name}}"/>
        </div>

        <div class="form-row">
            <label for="profile_email">Email:</label>
            <input type="text" id="profile_email" name="email" value="{{getEmail}}"/>
        </div>

        <div class="form-row">
            <label for="profile_phone">Phone:</label>
            <input type="text" id="profile_phone" name="phone" value="{{profile.phone}}"/>
        </div>
    </div>

    <div id="edit_profile_right">
        <div class="profile_avatar_img" style="background-image: url('{{profile.avatar}}')"></div>
        <div class="form-row">
            <label for="profile_avatar">Avatar Url:</label>
            <input type="text" id="profile_avatar" name="avatar" value="{{profile.avatar}}"/>
        </div>

    </div>
	
	<div id="save-profile-btn" class="customButton-blue"> Save </div>
</template>