<template name="page_home">
    <div id="home">
	
		<a class="invisi-link" href="{{homePath}}" style="position:relative; top:-50px;">
	        <div id="sales_logo">
	            <img class="enlightened" src="/images/sales_enlightened.png" width="289" height="36" alt="Sales Enlightened">
	        </div>
	    </a>
		
		<div class="crest" style="display:none;">
			<img src="/images/gray_crest-3.png" width="152" height="150" alt="Gray Crest">
		</div>
		<div class="action" style="display:none;"> 
			<p>Taking over Santa Barbara,</p>
			<p>in Bottles and on Tap!</p>
			<a href="/contact"><p>Contact Us!</p></a>
		</div>
	</div>
</template>

