<template name="page_invoices">
    <div class="page-background" id="invoices">
        <h1 class="page_title" style="margin-bottom:25px;">{{title}}</h1>

        <table class="items">
            <tbody>
            <tr>
                <th style="">Order #</th>
				<th style="">Type</th>
				<th style="">Day</th>
                <th style="">Payment Date</th>
                <th style="">Kegs</th>
                <th style="">Total</th>
				<th style="">Paid</th>
				<th style="">Delivered</th>
                {{#if isAllInvoice this}}
                    <th style="">Venue</th>
                {{/if}}
				<th style="">Reply</th>
            </tr>
            {{#if invoices}}
                {{#each invoices}}
                <tr>
                    <td><a class="invoice-order-id-link" href="javascript: Router.go('order', {order_num: '{{order_num}}'});">#{{order_num}}</a></td>
					<td>{{paymentPeriodType}}</td>
					<td>{{deliveryDayOfWeek}}</td>
                    <td>{{actualPaidDate}}</td>
                    <td>{{keg_quantity}}</td>
                    <td>${{total}}</td>
					<td>{{paidInfo}}</td>
                    <td>{{actualDeliveryDate}}</td>
                    {{#if isAllInvoice ../../this}}
                        <td style="">{{venue.name}}<br/>{{venue.address}}</td>
                    {{/if}}
					<td><div class="reply-button customButton">REPLY</div></td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="5"> You have no invoices yet. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>