<template name="page_kegerator_installs">
    <div class="page-background" id="kegeratorInstalls">

        <h1 class="page_title" style="margin-bottom:25px;">Kegerator Installs</h1>

        <table class="items">
            <tbody>
            <tr>
                <th style="width: 15%;">Venue Name</th>
                <th style="width: 20%;">Address</th>
                <th style="">Equipment</th>
                <th style="">Kegerator Requests</th>
				<th style="">Tap Requests</th>
				<th style="">Materials Requests</th>
            </tr>

            {{#if venues }}
                {{#each venues }}
                <tr>
                    <td>{{name}}</td>
                    <td>{{address}}</td>

                    <td>
						<div class="kegerator-row"><span>{{tap_count}} Tap(s)</span> and <span>{{kegerator_count}} Kegerator(s)</span></div>
					</td>
					
                    <td>
						{{#if kegeratorInstalled}}
							<div class="kegerator-row">Last Install: <br /> {{time kegerator_install_date}}</div>
						{{else}}
							<div class="kegerator-row">Requested on: <br /> {{time kegerator_request_date}}</div>
							<div class="kegerator-installed-button customButton-blue">Installed</div>
						{{/if}}
					</td>
					<td>
						{{#if tapInstalled}}
							<div class="kegerator-row">Last Install: <br /> {{time tap_install_date}}</div>
						{{else}}
							<div class="kegerator-row">Requested on: <br /> {{time tap_request_date}}</div>
							<div class="tap-installed-button customButton-blue">Installed</div>
						{{/if}}
					</td>
					<td>
						{{#if materialsSupplied}}
							<div class="kegerator-row">Last Delivered: <br /> {{time materials_supplied_date}}</div>
						{{else}}
							<div class="kegerator-row">Requested on: <br /> {{time materials_requested_date}}</div>
							<div class="materials-supplied-button customButton-blue">Supplied</div>
						{{/if}}
					</td>
                </tr>
                {{/each}}
            {{else}}
            	<tr>
	                <td colspan="4"> There is no venue waiting for kegerator installation. </td>
	            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>