<template name="page_kegerator_installs">
    <div class="page-background" id="kegeratorInstalls">
        <!-- <div class="open-dialog-btn">+ Add Venue</div> -->

        <h1 class="page_title" style="margin-bottom:25px;">Kegerator Installs</h1>


        <table class="items">
            <tbody>
            <tr>
                <th style="width: 15%;">Venue Name</th>
                <th style="width: 20%;">Address</th>
                <th style="">Installed</th>
                <th style="">Waiting for Installation</th>
            </tr>

            {{#if venues }}
                {{#each venues }}
                <tr>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{>installed_kegerators}}</td>
                    <td>{{>kegerators_to_install}}</td>
                </tr>
                {{/each}}
            {{else}}
            	<tr>
	                <td colspan="4"> There is no venue waiting for kegerator installation. </td>
	            </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</template>


<template name="installed_kegerators">
    <div class="kegerator-count-row">{{{installedKegerators.count}}} kegerator(s) installed: </div>

    <div class="installed-kegerators-container">
        {{#each installedKegerators}}
            <div class="installed-kegerator-intable">
                <div class="kegerator-row">Type: <span>{{typeName}}</span></div>
                <div class="kegerator-row">Requested at: <span>{{formattedRequestedAt}}</span></div>
                <div class="kegerator-row">Installed at: <span>{{formattedInstalledAt}}</span></div>
            </div>
        {{/each}}
    </div>
</template>


<template name="kegerators_to_install">
    <div class="kegerator-count-row">{{{kegeratorsToInstall.count}}} kegerator(s) waiting: </div>

    {{#each kegeratorsToInstall}}
    	<div class="kegerator-to-install-intable">
	        <div class="kegerator-row">Type: <span>{{typeName}}</span></div>
	        <div class="kegerator-row">Requested at: <span>{{formattedRequestedAt}}</span></div>
	        <div class="kegerator-row">
	            <div class="installed-button customButton-blue">Installed</div>
	        </div>
	    </div>
    {{/each}}
</template>