<template name="layout">
    {{#unless isDesktopSite}}
        {{yield}}
	{{/unless}}
	
    {{#if isDesktopSite}}
		{{#unless currentUser}}
			<a id="homepage-signup-button" class="toolbar-button" href="{{pathFor 'signup'}}">SIGN UP</a>
		{{/unless}}
    	<nav>
	        <div id="navi-top" style="">
	            <div class="navi-links-holder">
					{{loginButtons align="left"}}
	                {{> _nav_bar}}
	                {{#unless currentUser}}{{/unless}}                
	            </div>
	        </div>
	    </nav>

	    <div id="container">
	         <header>{{yield 'header'}}</header>
			{{> flashMessages}}
	        {{yield}}
	    </div>

	    <footer style="position:relative; z-index: 1;">{{yield 'footer'}}</footer>
    {{/if}}
</template>