<template name="layout">

    <nav>
        <div id="navi-top" style="">
            <div class="navi-links-holder">
				{{loginButtons align="right"}}
                {{> _nav_bar}}

                {{#if currentUser}}

                {{/if}}                
            </div>
        </div>
    </nav>

    <div id="container">
         <header>{{yield 'header'}}</header>

		{{> flashMessages}}
		
        {{yield}}
    </div>

    <footer style="position:relative; z-index: 1;">{{yield 'footer'}}</footer>

</template>