<template name="layout">

    <nav>
        <!-- static content here like nav links -->
        <div id="navi-top" style="">
            <div class="navi-links-holder">
                {{> _navBar}}

                {{#if currentUser}}
                <div id="loggedIn-user-info">
                    <div id="user-info-avatar" style="background-image: url('{{Meteor.user.profile.avatar}}')"></div>
                </div>
                {{/if}}

                {{loginButtons}}
            </div>
        </div>

    </nav>

    <!-- the main template will be rendered here -->

    <div id="container">
        <!-- <div class="row_container"> -->

            <header>
                <!-- render to the header yield -->
                {{yield 'header'}}
            </header>

            {{yield}}

        <!--</div> -->
    </div>

    <footer>
        <!-- render to the footer yield -->
        {{yield 'footer'}}
    </footer>

</template>