<head>
	<!--<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>-->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<script>Stripe.setPublishableKey('pk_test_ir67el1Y5qyEJEL6gFwJXkdJ');</script>
</head>
<body>

    {{layout}}

</body>




<template name="page_sales">
    {{>sales_1}}
</template>

<template name="page_contact">
    {{>contact}}
</template>

<template name="page_pricing">
	{{>pricing}}
</template>