<head>
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
	<div id="container">

        <div id="navi-top" style="">
            <div class="navi-links-holder">
                {{> _navBar}}

                {{#if currentUser}}
                    {{> user_loggedIn}}
                {{else}}
                    {{> user_loggedOut}}
                {{/if}}
            </div>
        </div>

        <div class="row_container">


            <a class="invisi-link" href="{{homePath}}">
                <div id="sales_logo">
                        <img class="enlightened" src="/images/sales_enlightened.png" width="289" height="36" alt="Sales Enlightened">
                </div>
            </a>

                {{renderPage}}

        </div>
	</div>

    <div id="copy" style="width:100%;left:0%;">
        <p class="copyright" style="width: 512px;margin: 0 auto; text-align:center;">Copyright ConsciousKombucha.com 2013 all rights reserved</p>
    </div>
</body>




<template name="page_sales">
    {{>sales_1}}
</template>

<template name="page_contact">
    {{>contact}}
</template>

<template name="page_pricing">
	{{>pricing}}
</template>