<template name="page_one_offs">
    <div class="page-background" id="oneOffs">

        <h1 class="page_title" style="margin-bottom:25px;">One-Off Keg Orders (Stripe Paid)</h1>

        <table class="items">
            <tbody>
            <tr>
                <th style="width: 20%">Venue Name</th>
                <th style="width: 20%;">Address</th>
                <th style="width: 30%;">Kegs</th>
				<th style="width: 7%;">Amount</th>
				<th style="width: 5%">Day</th>
				<th style="width: 16%;">Actions</th>
            </tr>
            {{#if recentOneOffs }}
                {{#each recentOneOffs}}
                <tr>
                    <td>{{venue.name}}</td>
                    <td>{{venue.address}}</td>

                    <td>
						{{#each invoiceItems}}
							{{>one_off_keg}}
						{{/each}}
					</td>
					
					<td>${{total}}</td>
					<td>{{requestedDeliveryDayOfWeek}}</td>
					<td>{{>delivered_one_off}}</td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="6"> There are no venues waiting for one-off kegs. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

		
		<h1 class="page_title" style="margin-top: 50px; margin-bottom:25px;">One-Off Keg Orders (Non-Stripe Customers)</h1>
		
		<table class="items">
            <tbody>
            <tr>
                <th style="width: 20%">Venue Name</th>
                <th style="width: 20%;">Address</th>
                <th style="width: 30%;">Kegs</th>
				<th style="width: 7%;">Amount</th>
				<th style="width: 5%">Day</th>
				<th style="width: 16%;">Actions</th>
            </tr>
            {{#if recentOneOffsNonStripe }}
                {{#each recentOneOffsNonStripe}}
                <tr>
                    <td>{{venue.name}}</td>
                    <td>{{venue.address}}</td>

                    <td>
						{{#each items}}
							{{>one_off_keg}}
						{{/each}}
					</td>
					
					<td>${{total}}</td>
					<td>{{requestedDeliveryDayOfWeek}}</td>
					<td>
						{{>delivered_one_off}}
						{{>non_stripe_paid}}
					</td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="6"> There are no venues waiting for one-off kegs. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</template>


<template name="one_off_keg">
	<div class="one-off-keg-row" style="">
        <div class="one-off-keg-row-quantity" style="">{{quantity}} keg(s)</div>
		<img class="one-off-keg-row-flavor-icon" src="{{flavor_icon}}" style=""/>
        <div class="one-off-keg-row-flavor-name">{{flavor_name}}</div>
		<div class="one-off-keg-row-subtotal">${{subtotal}}</div>
    </div>
</template>


<template name="delivered_one_off">
	{{#if delivered}}
        <div class="one-offs-actions-text-container">
		    DELIVERED: <br /><span>{{actualDeliveryDate}}</span>
        </div>
	{{else}}
		<div class="customButton delivered">Delivered</div>
	{{/if}}
</template>


<template name="non_stripe_paid">
	{{#if paid}}
        <div class="one-offs-actions-text-container">
		    PAID ON: <br /><span>{{actualPaidDate}}</span>
        </div>
	{{else}}
		<div class="customButton paid">PAID</div>
	{{/if}}
</template>