<template name="page_order_invoice">
	
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Conscious Kombucha/Pierre Lafond Invoice 136</title>

	</head>

	<body>
        <div style="background: white; width: 100% !important; height: 100% !important; position:absolute;">
            <div id="order-container" style="">
                <table id="order-container-table" width="711" border="0" cellspacing="0" cellpadding="0"  background="http://ck_invoice.meteor.com/images/tile.png"  style="margin: 0 auto; font-family:arial; background-repeat: repeat-y;" align="center">
                  <tr>
                    <td class="header"width="715" height="197" colspan="5" background="http://ck_invoice.meteor.com/images/top.png" style="background-repeat:no-repeat; position: relative; top: -2px;left: 0px;">
                    <table width="665" border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:14px; font-weight: normal; color: #rgb(112, 111, 111);">
                  <tr>
                    <td width="332" style="font-size:36px; font-weight: bold; color: #0069aa;" align="left">INVOICE #{{invoice.order_num}}</td>
                    <td width="332" align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="332" align="left"></td>
                    <td width="332" align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="332" align="left" ><a style="color: #0069aa;" href="mailto:holly@faceyspacey.com">sales@consciouskombucha.com</a></td>
                    <td width="332" align="right">Invoice Num: 24</td>
                  </tr>
                  <tr>
                    <td width="332" align="left">Conscious Kombucha, Inc.</td>
                    <td width="332" align="right">Invoice Date: 10-1-13</td>
                  </tr>
                  <tr>
                    <td width="332" align="left">707 Cathedral Pointe LN</td>
                    <td width="332" align="right">Due: $120</td>
                  </tr>
                  <tr>
                    <td width="332" align="left">Santa Barbara, CA 93111</td>
                    <td width="332" align="right"></td>
                  </tr>

                  <tr>
                    <td width="332" align="left"></td>
                    <td width="332" align="right"></td>
                  </tr>
                  <tr>
                    <td align="left">&nbsp;</td>
                    <td align="right"></td>
                  </tr>
                    </table>
                    </td>
                  </tr>

                    <tr>
                    <td height="30" style="text-indent: 25px; color: #rgb(112, 111, 111);; font-size: 14px;">
                    Client : Cafe Luna</td>
                    </tr>

                    <tr>
                    <td>

                    <table width="665" border="0" cellspacing="0" cellpadding="0" align="center" style="margin: 0 auto 30px auto;">
                  <tr>
                    <td width="70" height="40" align="center" style="background: #0069aa; color: #ffffff;">Units</td>
                    <td width="415" height="40" align="left" style="background: #0069aa; color: #ffffff; text-indent:10px;">Details</td>
                    <td width="70" height="40" align="right" style="background: #0069aa; color: #ffffff; padding: 0 10px 0 0;">Rate</td>
                    <td width="100" height="40" align="right" style="background: #0069aa; color: #ffffff; padding: 0 10px 0 0;">Subtotal</td>
                  </tr>

                  <tr>
                    <td width="50" height="30" align="left" style="font-size:12px; color: #316497; border-left: 1px solid #0069aa; padding: 0 0 0 10px;">1</td>
                    <td width="395" height="30" align="left" style="font-size:12px; color: #rgb(112, 111, 111);; padding: 0 0 0 10px;">5 Gallon Keg of Kombucha</td>
                    <td width="70" height="30" align="right" style="font-size:12px; color: #rgb(112, 111, 111);; padding: 0 10px 0 0;">$120</td>
                    <td width="100" height="30" align="right" style="font-size:12px; color: #rgb(112, 111, 111);; border-right: 1px solid #0069aa; padding: 0 10px 0 0;">$120</td>
                  </tr>


                    <tr>
                    <td width="50" height="30" align="center" style="font-size:12px; color: white; border-top: 1px solid #0069aa; padding: 0 0 0 10px;">&nbsp;</td>
                    <td width="395" height="30" align="left" style="font-size:12px; color: white; border-top: 1px solid #0069aa; padding: 0 0 0 10px;">&nbsp;</td>
                    <td width="70" height="30" align="right" style="font-size:16px; color: #0069aa; font-weight: bold; border-top: 1px solid #0069aa; padding: 0 10px 0 0;">Total:</td>
                    <td width="100" height="30" align="right" style="font-size:12px; color: #rgb(112, 111, 111);; border-top: 1px solid #0069aa; padding: 0 10px 0 0;">$120</td>
                  </tr>





                </table>

                    </td>
                    </tr>

                    <tr>
                        <td height="60" style="text-align: center; font-size:14px; color: #316497; margin: 0 0 30px 0;">
                        <span style="background-color: #d6e3ee; padding: 5px 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">Make checks payable to Conscious Kombucha, Inc.</span>
                        </td>
                    </tr>



                  <tr>
                    <td colspan="5" width="665" height="14" style=" background-repeat:no-repeat;padding: 0px 25px 0 25px; color:#305274; font-size: 10px;" background="http://ck_invoice.meteor.com/images/bottom.png"></td>
                  </tr>
                </table>
            </div>
        </div>
	</body>
</template>