<template name="page_clients">
    {{> clients}}
</template>

<template name="clients">
    <div class="page-background" id="clients">
        <h1 class="page_title" style="margin-bottom: 25px;">Clients</h1>

        <table class="items">
            <tbody>
            <tr>
                <th style="width: 40px; text-align: center;">Avatar</th>
                <th>Name</th>
                <th>Email</th>
                <th>Venues</th>
                <th>Roles</th>
            </tr>
            {{#if clientList }}
                {{#each clientList }}
                <tr>
                    <td><div class="user-info-avatar" style="background-image: url('{{profile.avatar}}');"></div></td>
                    <td>{{profile.name}}</td>
                    <td>{{emails.0.address}}</td>
                    <td>{{{venues}}}</td>
                    <td>{{{listRoles roles}}}</td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="4"> No clients registered yet. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>