<template name="page_venues">
    {{>venues}}
</template>

<template name="venues">
    <div class="page-background" id="venues">
        <div class="open-dialog-btn">+ Add Venue</div>

        <h1 class="page_title" style="margin-bottom:25px;">{{title}}</h1>


        <table class="items">
            <tbody>
                <tr>
                    <th style="width: 10%;">Venue Name</th>
                    <th style="">Address</th>
                    <th style="width:350px;">Keg Charges</th>
                    <th style="width: 20%;">Actions</th>
                </tr>
                {{#if venuesList }}
                    {{#each venuesList }}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{address}}</td>
                            <td>{{>keg_charges_table}}</td>
                            <td class="action-buttons">
                                <div class="edit-venue-btn customButton" onclick="Router.go('setKegs', {id: '{{_id}}'});"> Set Kegs </div>
                                <div class="edit-venue-btn customButton" onclick="Router.go('requestKegerator', {id: '{{_id}}'});"> Request Kegerator </div>
                                <div class="delete-venue-btn customButton"> Delete </div>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="4"> You have no venues added yet. </td>
                    </tr>
                {{/if}}
            </tbody>
        </table>

        <div id="addVenueDialog" class="dialog-box" style="display: none;">
            <div class="close-dialog-btn"> &times; </div>
            <h2 class="subtitle">New Venue</h2>
            <form id="new-venue-form" name="newVenueForm" class="styled-form" method="POST">

                <div class="form-row">
                    <label for="venueForm_name">Name:</label>
                    <input id="venueForm_name" type="text" name="name"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_address">Address:</label>
                    <input id="venueForm_address" type="text" name="address"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_email">Email:</label>
                    <input id="venueForm_email" type="text" name="email"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_phone">Phone:</label>
                    <input id="venueForm_phone" type="text" name="phone"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_facebook">Facebook:</label>
                    <input id="venueForm_facebook" type="text" name="facebook"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_twitter">Twitter:</label>
                    <input id="venueForm_twitter" type="text" name="twitter"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_instagram">Instagram:</label>
                    <input id="venueForm_instagram" type="text" name="instagram"/>
                </div>

                <div class="form-row">
                    <label for="venueForm_youtube">Youtube:</label>
                    <input id="venueForm_youtube" type="text" name="youtube"/>
                </div>

            </form>

            <div class="add-venue-btn customButton-blue">Add Venue</div>
        </div>

    </div>
</template>
