<template name="page_invoices">
    {{>invoices}}
</template>

<template name="invoices">
    <div class="page-background" id="invoices">
        <h1 class="page_title" style="margin-bottom:25px;">{{title}}</h1>

        {{userId}}

        <table class="items">
            <tbody>
            <tr>
                <th style="">Invoice ID</th>
                <th style="">Day of Week</th>
                <th style="">Date</th>
                <th style="">Kegs</th>
                <th style="">Total</th>
            </tr>
            {{#if invoiceList}}
                {{#each invoiceList}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="5"> You have no invoices yet. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>
