<template name="page_invoices">
    {{>invoices}}
</template>

<template name="invoices">
    <div class="page-background" id="invoices">
        <h1 class="page_title" style="margin-bottom:25px;">{{title}}</h1>

        <table class="items">
            <tbody>
            <tr>
                <th style="">Order #</th>
                <th style="">Payment Period</th>
                <th style="">Date</th>
                <th style="">Kegs</th>
                <th style="">Total</th>
            </tr>
            {{#if invoiceList}}
                {{#each invoiceList}}
                <tr>
                    <td><a class="invoice-order-id-link" href="javascript: return;">#{{order_id}}</a></td>
                    <td>{{paymentPeriod}}</td>
                    <td>{{formattedCreatedAt}}</td>
                    <td>{{kegsCount}}</td>
                    <td>{{total}}</td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="5"> You have no invoices yet. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>