<template name="page_allVenues">
    {{>allVenues}}
</template>

<template name="allVenues">
    <div class="page-background" id="venues">
        <h1 class="page_title" style="margin-bottom:25px;">All Venues</h1>

        <table class="items">
            <tbody>
            <tr>
                <th style="width: 40px; text-align: center;">Avatar</th>
                <th style="width: 10%;">Client</th>
                <th style="width: 10%;">Venue Name</th>
                <th style="">Address</th>
                <th style="width: 20%;">Kegerators</th>
                <th style="width: 20%;">Actions</th>
            </tr>
            {{#if venuesList }}
                {{#each venuesList }}
                <tr class="client-venue-row">
                    <td><div class="user-info-avatar" style="background-image: url('{{user.profile.avatar}}');"></div></td>
                    <td class="venues-list-userinfo">
                        Name: <span class="info">{{user.profile.name}}</span>
                        Email: <span class="info info-small">{{user.emails.0.address}}</span>
                    </td>
                    <td>{{name}}</td>
                    <td>{{address}}</td>
                    <td>{{{displayKegerators _id}}}</td>
                    <td class="action-buttons">
                        <!--<div class="edit-venue-btn customButton"> Edit flavors </div>-->
                        <!--<div class="delete-venue-btn customButton"> &times; </div>-->
                    </td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="4"> There are no venues added yet. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>
