<template name="page_admins">
    {{> admins}}
</template>

<template name="admins">
    <div class="page-background" id="admins">
        <h1 class="page_title" style="margin-bottom: 25px;">Admins</h1>

        <table class="items">
            <tbody>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Venues</th>
                <th>Roles</th>
            </tr>
            {{#if adminList }}
                {{#each adminList }}
                <tr>
                    <td>{{profile.name}}</td>
                    <td>{{emails.0.address}}</td>
                    <td>{{{venues}}}</td>
                    <td>{{{listRoles roles}}}</td>
                </tr>
                {{/each}}
            {{else}}
            <tr>
                <td colspan="4"> No admins registered yet. </td>
            </tr>
            {{/if}}
            </tbody>
        </table>

    </div>
</template>