<template name="page_profile">
    <div class="page-background" id="profile">
        <h1 class="page_title" style="margin-bottom:25px;">Profile</h1>

        <div id="profile_content">
            <div class="profile_avatar_img" style="background-image: url('{{user.getAvatar}}')"></div>
            <div class="profile_right">
                <table class="styled-vertical-table">
                    <tbody>
                        <!-- Buttons section -->
                        <tr class="section-title profile-buttons">
                            <td colspan="2">
                                <div class="user-venues-btn customButton-blue"> Venues </div>
                                <div class="user-invoices-btn customButton-blue"> Invoices </div>
                            </td>
                        </tr>
                        <!-- Personal section -->
                        <tr class="section-title">
                            <td colspan="2">Personal
                                <div id="edit-profile-btn" class="customButton-blue"> Edit </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{user.profile.name}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{user.getEmail}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{user.profile.phone}}</td>
                        </tr>

                        <!-- Billing section -->
                        <tr class="section-title">
                            <td colspan="2">Billing Info
								<a id="edit-profile-btn" class="customButton-blue" style="display:block;" href="javascript: Router.go('billingInfo');" style="text-decoration:none;color:white;">Edit </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

				<h3 class="subtitle" style="margin: 40px 0 20px 0;">Keg Charges</h3>
                {{#each venues}}
                    <div class="profile-venue-charges-box">
                        <div>{{name}}</div>
                        {{>keg_charges_table}}
                    </div>
				{{/each}}
            </div>
        </div>


    </div>
</template>