<template name="page_request_kegerator">
    <div class="page-background" id="requestKegerator">
        <!-- <div class="open-dialog-btn">+ Add Venue</div> -->

        <h1 class="page_title" style="margin-bottom:25px;">Request Kegerators</h1>

        <div class="requestKegerators-container">

            <form id="requestKegeratorForm" name="requestKegeratorForm">

                <div class="form-row">
                    <label for="kegeratorForm_venue_id">Venue:</label>

                    {{#if venue_id}}
						<input type="hidden" id="kegeratorForm_venue_id" value="{{venue_id}}"/>
						<div style="padding: 5px 5px 5px 15px;">
							{{#with venue}}
	                        	{{>actual_venue}}
							{{/with}}
	                    </div>
					{{else}}
                    <select id="kegeratorForm_venue_id" class="styled-select" name="venue_id">
                        {{#each venues}}
					        <option value="{{_id}}" {{selectedVenue ../venue_id}}} >{{name}}</option>
					    {{/each}}
                    </select>
                    {{/if}}                
                </div>

                <div class="form-row">
                    <label for="kegeratorForm_type_id">Type:</label>
                    <select id="kegeratorForm_type_id" class="styled-select" name="type_id">
                        {{#each kegeratorTypes}}
							<option value="{{id}}" {{selectedKegeratorType ../type_id}}>{{name}}</option>
						{{/each}}
                    </select>
                </div>

                <div class="form-row">
                    <label for="kegeratorForm_comment">Comment:</label>
                    <textarea id="kegeratorForm_comment" name="comment" rows="6"></textarea>
                </div>

                <div id="request-kegerator-btn" class="customButton-blue"> Request Kegerator </div>

            </form>

        </div>

    </div>
</template>



<template name="actual_venue">
	<span class="label">Name:</span> <b>{{name}}</b><br/>
	<span class="label">Address:</span> <b>{{address}}</b><br/>
	<span class="label">Kegs count:</span> <b>{{kegs.count}} keg(s)</b><br/>' 
	<span class="label">Kegerators:</span> <b>{{getKegerators.count}} kegerators ({{getKegeratorTaps}} taps)</b>
</template>
