<template name="page_set_kegs">
    <div class="page-background" id="setKegs">
        <h1 class="page_title">{{venue.name}}</h1>
        <h3 class="subtitle" style="margin-bottom: 25px;">(Keg settings)</h3>

        <div id="kegerator-list">
            <form id="editFlavorsForm" name="editFlavorsForm" methos="POST">
                {{#each kegs}}
                    {{>subscription_keg_row}}
                {{/each}}
            </form>

            <div class="buttons-container">
                <div class="add-keg-btn customButton-blue">+ Add Keg</div>
            </div>

            <p class="note">
                You have <b>{{{venue.getKegerators.count}}} kegerator(s)</b>
                with <b>{{{venue.getKegeratorTaps}}} tap(s)</b>. You can request more kegerators here:
                <a href="javascript: Router.go('requestKegerator', {id: '{{venue_id}}' });">Request Kegerator</a>
            </p>

        </div>

    </div>
</template>


<template name="subscription_keg_row">
	<div class="keg-box">
        <div class="remove-keg-btn"> &times; </div>
        <div class="keg-illustration" style="background-image: url('{{flavor.keg_icon}}');">
            <div class="keg-flavor-illustration" style="background-image: url('{{flavor.icon}}');"></div>
        </div>
        <div class="keg-settings">

            <div class="form-row">
                <label>Flavor: </label>

		        <select class="keg-flavor-select">
		        	{{#each flavors}}
						<option value="{{_id}}" {{flavorSelected ../flavor_id}}>{{name}}</option>
					{{/each}}
		        </select>
		
            </div>

            <div class="form-row">
                <label>Payment Cycle: </label>
                <div class="keg-pcycle-left">
                    {{#each cycles}}
						<input title="{{../_id}}" type="radio" class="radio-cycle" name="{{../_id}}_cycle" value="{{id}}" {{cycleSelected ../payment_cycle}} />{{name}}			
						<br />
					{{/each}}
                </div>
                <div class="keg-pcycle-right">
                    {{#each days}}
						<input title="{{../_id}}" type="radio" class="radio-day" name="{{../_id}}_day" value="{{id}}" {{daySelected  ../payment_day}} />{{name}}
						<br />							
					{{/each}}
                </div>
            </div>
        </div>
    </div>
</template>