<template name="mobile_container">
	{{>header}}
	<div id="mobile_container">
		{{>signup_toolbar}}	
		{{>signup_slider_wrapper}}
	</div>
</template>

<template name="signup_toolbar">
	<div class="toolbar">
		<h1 id="pageTitle" class="">{{pageTitle}}</h1>
		{{#if showBackButton}}
			<a class="toolbar-button toolbar-back" href="#">BACK</a>
		{{/if}}
	</div>
</template>

<template name="signup_slider_wrapper">
	<div id="sliding_page_wrapper">
		{{>step_1}}
		{{>step_2}}
		{{>step_3}}
		{{>step_4}}
		{{>step_5}}
	</div>
</template>

<template name="step_1">
	<div id="signup_step_1" class="mobile_pages">
		<p>So you want to serve Kombucha on Draft at your Venue, eh? Tell us about it.</p>
		
		<input id="signup_venue_name" type="name" placeholder="Venue Name" />
		<input id="signup_venue_address" type="name" placeholder="Address" />
		
		<a id="step_1_complete" class="toolbar-button save-button" href="#">NEXT</a>
	</div>
</template>


<template name="step_2">
	<div id="signup_step_2" class="mobile_pages">
		<ul>
			{{#each flavors}}
				<li><img src="{{icon}}" width="30px" /> {{name}} <div class="row-arrow"></div></li>
			{{/each}}	
		</ul>
	</div>
</template>

<template name="step_3">
	<div id="signup_step_3" class="mobile_pages">
		<p style="margin: 18px 34px 20px 34px;">How often would you like to receive fresh Kombucha on Draft?</p>

		<a class="toolbar-button radio-button radio-cycle" href="#"><img src="/images/checkmark.png" />Weekly</a>
		<a class="toolbar-button radio-button radio-cycle" href="#"><img src="/images/checkmark.png" />Bi-Weekly</a>
		<div style="clear:both;"></div>
		
		<p style="margin: 40px 34px 18px 34px;">And on what day should we drop the keg off?</p>

		<a class="toolbar-button radio-button radio-day" href="#"><img src="/images/checkmark.png" />Monday</a>
		<a class="toolbar-button radio-button radio-day" href="#"><img src="/images/checkmark.png" /> Thursday</a>
		<div style="clear:both;"></div>
		
		<a id="step_3_complete" class="toolbar-button save-button" href="#" style="margin: 48px auto;">NEXT</a>
	</div>
</template>

<template name="step_4">
	<div id="signup_step_4" class="mobile_pages">
		<input type="email" placeholder="Email"  style="margin-top: 44px;"/>
		<input type="password" placeholder="Password" />
		<input type="phone" placeholder="Cell #" />
		
		<a id="step_4_complete" class="toolbar-button save-button" href="#">SIGN UP</a>
	</div>
</template>

<template name="step_5">
	<div id="signup_step_5" class="mobile_pages">
		<p style="margin: 15px 34px -5px 34px;">Please put a credit card on file. We will only charge you upon keg delivery ($120 per keg).</p>
		
		<input id="signup_credit_card" placeholder="Credit Card #" />
		
		<input id="signup_cvv_code" placeholder="CVV Code" style="width: 164px; margin-left: 30px;"/>
		
		<select class="styled-select" id="signup_card_month" name="cardExpMonth" style="float:left; width: 75px; margin-left:32px;">
		    {{#each monthOptions}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
        </select>

		<select class="styled-select" id="signup_card_year" name="cardExpYear" style="float:left; width: 100px;">
		    {{#each yearOptions}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
        </select>

		<div style="clear:both;"></div>
		
		<a id="step_5_complete" class="toolbar-button save-button" href="#">ATTACH CARD</a>
	</div>
</template>