<template name="mobile_container">
	{{>header}}
	<div id="mobile_container">
		<div class="toolbar">
			<h1 id="pageTitle" class="">Choose a Flavor</h1>
			<a class="toolbar-button toolbar-back" href="#">BACK</a>
			<a class="toolbar-button toolbar-next" href="#" style="display:none;">NEXT</a>
		</div>
		
		<div id="sliding_page_wrapper">
			{{>step_1}}
			{{>step_2}}
			{{>step_3}}
			{{>step_4}}
			{{>step_5}}
		</div>
	</div>
</template>

<template name="step_1">
	<div id="signup_step_1" class="mobile_pages">
		<p>So you want to serve Kombucha on Draft at your Venue, eh? Tell us about it.</p>
		
		<input type="name" placeholder="Venue Name" />
		<input type="name" placeholder="Address" />
		
		<a class="toolbar-button save-button" href="#">NEXT</a>
	</div>
</template>


<template name="step_2">
	<div id="signup_step_2" class="mobile_pages">
		<ul>
			<li><img src="/images/flavor-icons/strawberry-icon.png" /> Random <div class="row-arrow"></div></li>
			<li><img src="/images/flavor-icons/strawberry-icon.png" /> Strangerine <div class="row-arrow"></div></li>
			<li><img src="/images/flavor-icons/strawberry-icon.png" /> SB Berry <div class="row-arrow"></div></li>
			<li><img src="/images/flavor-icons/strawberry-icon.png" /> SB Citrus <div class="row-arrow"></div></li>
			<li><img src="/images/flavor-icons/strawberry-icon.png" /> Ginger Lemon <div class="row-arrow"></div></li>
			<li><img src="/images/flavor-icons/strawberry-icon.png" /> Tangerine <div class="row-arrow"></div></li>	
		</ul>
	</div>
</template>

<template name="step_3">
	<div id="signup_step_3" class="mobile_pages">
		<p style="margin: 18px 34px 20px 34px;">How often would you like to receive fresh Kombucha on Draft?</p>

		<a class="toolbar-button radio-button radio-cycle" href="#"><img src="/images/checkmark.png" />Weekly</a>
		<a class="toolbar-button radio-button radio-cycle" href="#"><img src="/images/checkmark.png" />Bi-Weekly</a>
		<div style="clear:both;"></div>
		
		<p style="margin: 40px 34px 18px 34px;">And on what day should we drop the keg off?</p>

		<a class="toolbar-button radio-button radio-day" href="#"><img src="/images/checkmark.png" />Monday</a>
		<a class="toolbar-button radio-button radio-day" href="#"><img src="/images/checkmark.png" /> Thursday</a>
		<div style="clear:both;"></div>
		
		<a class="toolbar-button save-button" href="#" style="margin: 48px auto;">NEXT</a>
	</div>
</template>

<template name="step_4">
	<div id="signup_step_4" class="mobile_pages">
		<input type="email" placeholder="Email"  style="margin-top: 44px;"/>
		<input type="password" placeholder="Password" />
		<input type="phone" placeholder="Cell #" />
		
		<a class="toolbar-button save-button" href="#">SIGN UP</a>
	</div>
</template>

<template name="step_5">
	<div id="signup_step_5" class="mobile_pages">
		<p style="margin: 15px 34px -5px 34px;">Please put a credit card on file. We will only charge you upon keg delivery.</p>
		
		<input  placeholder="Credit Card #" />
		
		<input placeholder="CVV Code" style="width: 164px; margin-left: 30px;"/>
		
		<select class="styled-select" id="user_card_month" name="cardExpMonth" style="float:left; width: 75px; margin-left:32px;">
		    <option value="1" selected="selected">1</option>
	        <option value="2">2</option>
	        <option value="3">3</option>
	        <option value="4">4</option>
	        <option value="5">5</option>
	        <option value="6">6</option>
	        <option value="7">7</option>
	        <option value="8">8</option>
	        <option value="9">9</option>
	        <option value="10">10</option>
	        <option value="11">11</option>
	        <option value="12">12</option>
        </select>

		<select class="styled-select" id="user_card_month" name="cardExpYear" style="float:left; width: 100px;">
		    <option value="1" selected="selected">2013</option>
	        <option value="2">2014</option>
	        <option value="3">2015</option>
	        <option value="4">2016</option>
	        <option value="5">2017</option>
	        <option value="6">2018</option>
			<option value="6">2019</option>
			<option value="6">2020</option>
        </select>

		<div style="clear:both;"></div>
		
		<a class="toolbar-button save-button" href="#">ATTACH CARD</a>
	</div>
</template>