<template name="pricing">
	<div id="price_wrapper">
	    <div class="pricingtable">
	      <div class="top">
	        <h2>Grocers</h2>
				<div class="location"><img src="../../images/deli.png" width="100" height="100" alt="deli"></div>
	      </div>
	      <ul class="price_list">
	        <li>
				<strong>12</strong> Bottles
			</li>
	        <li class="odd">
				<strong>24</strong> Bottles
		    </li>
	        <li>
				<strong>48</strong> Bottles
			</li>
			<li class="odd">
				<strong>24</strong> Bottles
		    </li>
	        <li>
				<strong>48</strong> Bottles
			</li>
	      </ul>

	      <hr>
		  <div class="bottles_price" style="left: 71px; top: -4px;">
	     	<img src="../../images/b_price-1.png" width="145" height="203" alt="Bottle Price">
		  </div>
	      <div class="order_price" style="top: -11px;">
	      <p>
	      		<select>
				      <option>12 Bottles $120/week</option>
				      <option>12 Bottles $120/week</option>
					  <option>12 Bottles $120/week</option>
				</select>
	      </p>

	      <a href="#">Order Now</a>
		</div>
	</div>

	    <div class="pricingtable featured">
	      <div class="top">
	        <h2>Offices &Yoga Studios</h2>
			<div class="location"><img src="../../images/yoga.png" width="100" height="100" alt="Yoga"></div>
	      </div>
	      <ul class="price_list">
	        <li>
				<strong>12</strong> Bottles
			</li>
	        <li class="odd">
				<strong>24</strong> Bottles
		    </li>
	        <li>
				<strong>48</strong> Bottles
			</li>
			<li class="odd">
				<strong>24</strong> Bottles
		    </li>
	        <li>
				<strong>48</strong> Bottles
			</li>
	      </ul>

	      <hr>

		  <div class="wine_price" style="left: 52px; top: -3px;">
			<img src="../../images/kegerator-3.png" width="177" height="209" >
		  	
		  </div>
		<div class="order_price" style="top: -14px;">
	      <p>
	      		<select>
				      <option>12 Bottles $120/week</option>
				      <option>12 Bottles $120/week</option>
					  <option>12 Bottles $120/week</option>
				</select>
	      </p>

	      <a href="#">Order Now</a>
		</div>
	    </div>

	    <div class="pricingtable">
	      <div class="top">
	        <h2>Restaurant's & Bars</h2>
			<div class="location"><img src="../../images/bar_scene.png" width="100" height="100" alt="Bar Scene"></div>
	      </div>
	      <ul class="price_list">
	        <li>
				<strong>12</strong> Bottles
			</li>
	        <li class="odd">
				<strong>24</strong> Bottles
		    </li>
	        <li>
				<strong>48</strong> Bottles
			</li>
			<li class="odd">
				<strong>24</strong> Bottles
		    </li>
	        <li>
				<strong>48</strong> Bottles
			</li>
	      </ul>
	      <hr>

	      <div class="keg_price" tyle="top: 0px;">
	      	<img src="../../images/wine_2.png" width="125" height="193" alt="Wine Price">
	      </div>
	      <div class="order_price" style="top: 0px;">
	      <p>
				<select>
				      <option>12 Bottles $120/week</option>
				      <option>12 Bottles $120/week</option>
					  <option>12 Bottles $120/week</option>
				</select>
		  </p>

	      <a href="#">Order Now</a>
		</div>
	    </div>

	</div>
</template>