<template name="product_7">
	<div class="p7">	
		
		<div class="row_left white_info_box" style="margin-top: 5px;">
			<h2 class="blue_title_bar title_bar_left">2.5 gallon kegs</h2>
			
			<p class="gray">12 bottles, 24 bottles, 48 bottles and 96 bottles</p>
			<p class="gray">Bordeaux 5Th Cobalt Blue Bottles (12/Case) Is Just One Of Nearly 2,000 Great Beer And Wine Making Supplies Available Here At Labelpeelers.Com. 
			</p>
		</div>
		
		<div class="row_right">
			<img src="../../../images/new_25.png" width="220" height="401" style=" margin-right: 70px; margin-top: -65px;" alt="25G">
			<div class="ck_select" style="margin: 28px -38px;">
			   <select>
			      <option>The Machine</option>
			      <option>1 Mini-Keg</option>
				  <option>3 Mini-Keg</option>
			   </select>
			</div>
			<div class="buy">
				<a class="learn" style="margin-top: -65px;" href="/contact">Buy</a>
			</div>
		</div>

	</div>
</template>