<template name="slide_home">
	<div id="slide_home" class="mobile_pages">
		<ul>
			{{#if isAdmin}}
				<li id="panel_admin_link" style="color:rgb(0, 79, 247);">CK Administration <div class="row-arrow"></div></li>
			{{/if}}
			<li id="panel_my_orders_link">My Orders <div class="row-arrow"></div></li>
			<li id="panel_my_keg_subscriptions_link">My Keg Subscriptions <div class="row-arrow"></div></li>
			<li id="panel_support_link">Support (Contact Us) <div class="row-arrow"></div></li>	
			<li id="panel_request_upgrades">Request Upgrades <div class="row-arrow"></div></li>
			<li id="panel_one_time_order_link">One Time Order <div class="row-arrow"></div></li>
			<li id="panel_update_info_link">Update Info <div class="row-arrow"></div></li>
			<li id="panel_logout_link">Logout <div class="row-arrow"></div></li>
		</ul>
	</div>
</template>